
/*--<공통 영역>----------------------------------------------------------*/

body
{
    font-family: NanumGothic;
    font-size : 12px;
    color: #979797;
    background:url("../images/bg.jpg") repeat-y center;
}

a
{
    color: #979797;
    text-decoration:none;
}

.hidden
{
    display:none;
}

/*--<헤더 영역>----------------------------------------------------------*/

#member-menu
{
    display:inline-block;
}

.member-menu-item
{
    float: left;       
    padding-left: 24px;
    background: url("../images/bg-member-menu-vsp.png") no-repeat 12px center;
}

.member-menu-item:first-child
{
    padding-left:0px;
    background: none;
}

.member-menu-item-text
{
    font-family: NanumGothic;
    font-size: 20px;
    font-weight: bold; 
    color: #ffffff;   
}

.member-menu-item-text:hover
{
    text-decoration:underline;
}

/*--<메인 메뉴 영역>----------------------------------------------------------*/

#main-menu-list
{    
    display:inline-block;
}

.main-menu-item
{
    float:left;    
    padding-left:37px;    
    background:url("../images/bg-main-menu-vsp.png") no-repeat 20px center;
}

.main-menu-item:first-child
{
    padding-left:0px;
    background: none;
}

.main-menu-item-market
{
    float:left;    
    padding-left:380px;    
}

.main-menu-item-text
{
    font-family: NanumGothic;
    font-size:20px;
    font-weight: bold;
    color: #cbb48b;  
}

.main-menu-item-text:hover
{
    text-decoration:underline;
}

/*--<바디 영역>----------------------------------------------------------*/

.sub-menu-item-text
{
    font-family:NanumGothic;
    font-size: 20px;
    font-weight: bold; 
    color: #313131; 
    padding-left: 13px;        
}

.sub-menu-item-text:hover
{
    text-decoration:underline;
}



/*--<풋터 영역>--------------------------------------------------------*/

#footer
{
    font-weight:bold;
}

.company-info-item
{
    float:left;
}

.item-data
{
    padding-left:10px;
    background:url("../images/info-colon.png") no-repeat left center;
}

.item-newline
{
    clear:left;
    padding-left:0px;
    background:none;
}

/*-----------------------콘서트 관련 파트--------------------------------------------*/

#main-title
{
    font-family:NanumGothic;
    font-size:21px;
    font-weight: bold;
    color: #313131; 
    margin-top:30px;
    text-align:center;
}

.concert-table{
    font-size:12px;
    font-weight:bold;
}





.go-list
{
    width:62px;
    height:32px;
    line-height:32px;   
    margin-top:20px;
    margin-left:380px;
    border:1px solid #8e6844;
    border-radius:5px;
    background: #cbb48b;
}

.go-list-item
{
    font-family: NanumGothic;
    font-size: 16px;
    color:#ffffff;
    text-align:center;
}

