/*.side-menu-item {
    text-align:center;
    padding-top:20px;
}
.side-menu-item a:hover{
    text-decoration:underline;
}
.side-menu-item-text {
    font-size:15px;
    color: #313131; 
    font-weight:bold;
    
}*/

.hidden{
    display:none;
}

#main{
    width:400px;
    height:150px;
    
    text-align:center;
   
}

#btn-container{
    margin-top:40px;
}

/*#main-title-text {
    font-size:30px;
    font-weight:bold;
    color:#313131;
    text-align:center;
}*/
.main-item-text {
        font-size:15px;
    font-weight:bold;
    color:#313131;
    text-align:center;
    padding-top:20px;
 
}
#home-btn {
    text-decoration:none;
    border-radius:7px 6px;
    border:3px solid #8e6844;
    font-size:15px;
    font-weight:bold;
    cursor:pointer;
    color:#313131;
    padding:10px;
    
}