
/*--<헤더 영역>----------------------------------------------------------*/

#logo
{
    position:absolute;
    left:55px;
    top:23px;
    z-index:1;
}

#member-menu
{
    position:absolute;
    right:70px;
    top:35px;
}

/*--<메인 메뉴 영역>----------------------------------------------------------*/

#main-menu-list
{
    position:absolute;
    left:30px;
    top:15px;
}

/*--<바디 영역>----------------------------------------------------------*/

#sub-menu-list
{
    margin-top:100px;
    padding-left:75px;
}

#pager-container
{
    margin-top:70px;
    padding-left:340px;
}
#sort-menu
{
    float:left;    
    margin-top:15px;
    margin-left:15px;
}
#search-form
{
    margin-top:15px;
    margin-left:348px; 
}


/*--<풋터 영역>--------------------------------------------------------*/

#logo-footer-container 
{
    float:left;
    padding-left:55px;   
    margin-top:23px;
}

#company-info-container 
{    
    float:left;
    margin-top:15px;
    padding-left:130px;
}

#copyright
{
    margin-top:5px;
}
#sub-menu-box
{
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;    
}
.groupview{
    margin-left:100px;
    width:610px;
    height:auto;
    margin-bottom:100px;
    margin-top:15px;
}