
/*--<공통 영역>----------------------------------------------------------*/

body
{
    font-family: NanumGothic, 고딕, sans-serif;
    font-size : 12px;
    color: #979797;
    background:url("../images/back.jpg") center;
}

a
{
    color: #979797;
    text-decoration:none;
}

.hidden
{
    display:none;
}

/*--<헤더 영역>----------------------------------------------------------*/

#member-menu
{
    display:inline-block;
}

.member-menu-item
{
    float: left;       
    padding-left: 24px;
    background: url("images/bg-member-menu-vsp.png") no-repeat 12px center;
}

.member-menu-item:first-child
{
    padding-left:0px;
    background: none;
}

.member-menu-item-text
{
    font-family: NanumGothic, 고딕, sans-serif;
    font-size: 20px;
    font-weight: bold; 
    color: #ffffff;   
}

.member-menu-item-text:hover
{
    text-decoration:underline;
}

/*--<메인 메뉴 영역>----------------------------------------------------------*/

#main-menu-list
{    
    display:inline-block;
}

.main-menu-item
{
    float:left;    
    padding-left:37px;    
    background:url("images/bg-main-menu-vsp.png") no-repeat 20px center;

}




.main-menu-item:first-child
{
    padding-left:0px;
    background: none;
}

.main-menu-item-market
{
    float:left;    
    padding-left:380px;    
}

.main-menu-item-text
{
    font-family: NanumGothic, 고딕, sans-serif;
    font-size:20px;
    font-weight: bold;
    color: #cbb48b;

    
}
@keyframes menustyle{
    0%{
        transform: rotateX(0deg);    
    }
    20%{
        color:#ffd800;
    }
    50%{
       color:#ff0000;
       transform:scale(1.25) rotateX(180deg);
    }
    70%{
        color:#000000;
    }
    100%{
        transform:scale(1.5) rotateX(360deg);
        color:#ffffff;
    }
}


.main-menu-item-text:hover
{
    /*text-decoration:underline;*/        
     /*-webkit-animation: rotateplane 1.2s  ease-in-out;*/
     color:#ffffff;
     transform:scale(1.5) rotateX(360deg);
    animation:menustyle 1s ease-in-out;     
  /*animation: rotateplane 1s  ease-out;
  animation: colorchange 1s ease-in-out;*/
}
/*@-webkit-keyframes colorchange {
  0% {
      color:#cbb48b;
  }

  100% {      
      color:red;      
  }
}

@keyframes colorchange {
  0% {
      color:#cbb48b;
  }

  100% {      
      color:red;      
  }
}


@-webkit-keyframes rotateplane {
  0% {
      transform:rotateX(0deg);      
      -webkit-transform: rotateX(0deg);
       
  }

  50% { 
      transform:rotateX(90deg);
      -webkit-transform: rotateX(90deg);

  }
  100% {      
      transform:rotateX(0deg);
      -webkit-transform: rotateX(0deg);         
  }
}

@keyframes rotateplane {
  0% { 
    transform: rotateY(0deg);
    color:white;
    -webkit-transform:  rotateY(0deg);
    
  } 100% { 
        color:red;
    transform:  rotateY(-179.9deg);
    
    -webkit-transform: rotateY(-179.9deg);
     -webkit-text-fill-color:red;
  }
}*/

/*--<바디 영역>----------------------------------------------------------*/

.sub-menu-item-text
{
    font-family: NanumGothic, 고딕, sans-serif;
    font-size: 20px;
    font-weight: bold; 
    color: #313131; 
    padding-left: 13px;        
}

.sub-menu-item-text:hover
{
    text-decoration:underline;
}

#main-title
{
    font-family: NanumGothic, 고딕, sans-serif;
    font-size:21px;
    font-weight: bold;
    color: #313131; 
    margin-top:30px;
    padding-left:320px;    
}

#search-form
{
    display:inline-block;
    margin-top:30px;
    padding-left:150px;
}

.search-field
{ 
    width:70px;
    height:35px;
    font-size:20px;
    border:1px solid #313131;
}

.search-input
{
    width:400px;
    height:33px;
    font-size:20px;
    border:1px solid #313131;
}

.search-button
{
    width:35px;
    height:35px;
    font-size:20px;
    background:url("images/btn-zoom.png") no-repeat center;
    border:1px solid #313131;
    text-indent:-999px;
    overflow:hidden;      
    cursor:pointer;  
}

.pager
{
    display:inline-block;
}

.pager-list
{
    float:left;
}

.pager-item
{
    float:left;
    font-size: 15px;
    width:20px;
    height:20px;
    line-height:20px;
    text-align:center;
}

.pager-item a:hover
{
    text-decoration:underline;
}

.text-highlight
{
    font-weight:bold;
    color:#ff6a00;
}

.request
{
    width:110px;
    height:28px;     
    margin-top:20px;
    margin-left:630px;
    border:2px solid #cbb48b;
    border-radius:6px;
}
.request-item a
{
    font-family: NanumGothic, 고딕, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #313131;
    padding-left:11px;
}

/*--<풋터 영역>--------------------------------------------------------*/

#footer
{
    font-weight:bold;
}

.company-info-item
{
    float:left;
}

.item-data
{
    padding-left:10px;
    background:url("images/info-colon.png") no-repeat left center;
}

.item-newline
{
    clear:left;
    padding-left:0px;
    background:none;
}




/*-------------------------<main Style>-------------------------------*/

