<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>JSPPrj</display-name>


	
	<session-config>
	    <session-timeout>1</session-timeout>	    
	</session-config>
	
<!-- 	<listener>
	    <listener-class>
	        com.tunea.jspprj.TuneaSessionListener
	    </listener-class>	    
	</listener>
	<listener>
	    <listener-class>
	        com.tunea.jspprj.TuneaRequestListener
	    </listener-class>	    
	</listener> 
	<listener>
	    <listener-class>
	        com.tunea.jspprj.TuneaAppContextListener
	    </listener-class>	    
	</listener> -->
	
	<filter>
	    <filter-name>CharacterEncodingFilter</filter-name>
	    <filter-class>
	        com.tunea.ect.CharacterEncodingFilter
	    </filter-class>
	    <init-param>
	        <param-name>encoding</param-name>
	        <param-value>UTF-8</param-value>
	    </init-param>
	</filter>
	
	<filter-mapping>
	    <filter-name>CharacterEncodingFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>